<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mannagudde Gatty Foundation</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>


    <!-- Custom Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">MANNAGUDDE </span> GATTY FOUNDATION
                </a>
                <button type="button" class="navbar-custom navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <p></p>
                </div>
              </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">INVESTING IN THE FUTURE</h1>
                        <p class="intro-text">Mannagudde Gatty Foundation is a non-profit organisation,<br>focused on upliftment of meritorious and deserving students.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>MANNAGUDDE  SHIVARAM  & SUSHEELA  GATTY  FOUNDATION</h2>
                <p>Founded in profound memory of Late Shri M Shivaram Gatty and Smt Susheela Shivaram Gatty of Mannagudde, Mangalore and is managed by the Trustees who are the members of the Mannagudde Gatty family</p>
                <p>The Foundation fulfills the philanthropic mission of the Trust by supporting individuals from the Gatty Community committed towards advancement of Education.</p>
              </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center" >
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Current Initiative</h2>
                    <p class="text-left">In the First Year Scholarship Programme-2015-16, the Foundation will distribute scholarships aggregating Rs.30,000/- among 25 needy, deserving and meritorious children/students from the Gatty Community in the following three categories as decided by the Trustees.</p>

<p class="text-justify">Category 1 : 10 Students pursuing PUC/11th Standard at Rs.1,000/- each.</p>
<p class="text-left">Category 2 : 10 Students pursuing Bachelors Degree at Rs.1,000/- each.</p>
<p class="text-left">Category 3 : 5 Students pursuing First Year Professional  Degree in Engineering, Medicine,
Business  Management (MBA), etc. at Rs.2,000/- each.
</p>
                    <p class="text-left">The detailed document of the Scholarship program can be downloaded by clicking the link below.</p>
                    <%= link_to "Download", "/download/MannaguddaGattyFoundation.docx" , class: "btn btn-default btn-lg text-center" %>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Mannagudde Gatty Foundation</h2>
                <p>Feel free to email us to provide some feedback on our scholarship program , give us suggestions for new initiatives, or to just say hello!</p>
                <p><a href="mailto:contact@gattyfoundation.org">contact@gattyfoundation.org</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100008760936106" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/gattyfoundation" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/107909044151896556498" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Mannagudde Gatty Foundation 2015</p>
        </div>
    </footer>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63531094-1', 'auto');
      ga('send', 'pageview');

    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>




</body>

</html>
